dist: xenial
language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

install:
  - pip install pytest nose codecov coverage cached-property

script:
  - nosetests  --with-coverage

after_script:
  - codecov
